<% content_for :title do %>Scream n' Cream<% end %>
<% content_for :description do %>This page will display information about our online ordering site.
<% end %>

<div class="container-fluid" id="selector_1">
  <div id="map-canvas"></div>
  <div class="container">

    <div class="row">



      <% if current_user %>

        <div class="col-md-4 col-md-offset-8">
          <div id="the_gravatar"><%= gravatar_for @user %></div>
          <p id="hello_customer"><%= "Hi #{current_user.first_name}! Welcome back!" %></p>

          <%= link_to cart_path(@cart), class: "btn btn-success full", id: "hello_customer" do  %>
            <p id="hello_companion"> <%= "There are #{ @cart.total_items } booze ice creams waiting for you!" %></p>
            Complete your Order <span class="glyphicon glyphicon-shopping-cart"></span>
          <% end %>
        </div>

      <% else %>

        <p>HELLO WORLD</p>

      <% end %>
    </div>





    <div class="row">
      <% @categories.each do |category| %>
      <div class="col-md-3 category_box"><%= category.title %></div>
      <% end %>
    </div>

    <% @items.each do |item| %>
    <tr>
      <td><%= image_tag item.image.url(:user_thumb) %></td>
      <td><%= link_to item.title, item_path(item) %></td>
      <td><%= item.description %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td>
        <%= button_to "Add To Cart", cart_items_path(item_id: item) %>
      </td>
    </tr>
    <% end %>

  </div>
</div>

<% if notice %>
  <%= notice %>
<% end %>

<br />
<div class="row">
            <div class="span12">
                <h3>Latest Features</h3>

            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="span4 hero-feature">
                <div class="thumbnail">
                    <img src="/public/uploads/item/image/13.jpg" alt="feature 1">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="span4 hero-feature">
                <div class="thumbnail">
                    <img src="/public/uploads/item/image/9.jpg" alt="feature 2">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            </div>
        </div>
