<% content_for :title do %>About Us<% end %>
<% content_for :description do %>This page will display information about our online ordering site.
<% end %>

<div class="container-fluid" id="selector_1">
        <div class="container">

            <div class="row">
                <div id="right_box">
                    <div id="the_gravatar"><%= gravatar_for @user %></div>
                    <p id="hello_customer"><%= "Hi #{current_user.first_name}! Welcome back!" %></p>
                    <p id="hello_companion"> <%= "There are #{ @cart.total_items } booze ice creams waiting for you!" %></p>
                    <%= link_to cart_path(@cart), class: "btn btn-success full", id: "hello_customer" do  %>
                      Complete your Order <span class="glyphicon glyphicon-shopping-cart"></span>
                    <% end %>
                    <!-- <p id="hello_bar">The Gravatar</p> -->
                </div>

            </div>
        </div>
</div>






<% if notice %>
  <%= notice %>
<% end %>
