<div class="container">
  <div class="jumbotron">
    <h1><%= "Job Postings for #{ current_user.company_name }" %></h1>
    <%= link_to "Add a New Job Listing", new_listing_path, :class => "btn btn-lg btn-success", :id => "add-job-listing" %>
  </div>
  <% unless company_listings(current_user) == nil %>
    <% company_listings(current_user).each do |listing| %>
      <div class="col-lg-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= link_to listing.title, listing_path(listing) %></h3>
            <p><%= truncate(listing.description, :length => 75) %></p>
            <p><strong><%= listing.employment_type.capitalize %></strong></p>
            <p><strong><%= "$#{listing.pay_rate}" %></strong></p>
            <div class="text-center">
              <p>
                <%= link_to 'Edit listing', edit_listing_path(listing), id: "edit-listing" %> |
                <%= link_to 'Remove listing', listing_path(listing), method: :delete %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
    <h3>You don't have any listings at this time. Add one now!</h3>
  <% end %>
</div>
