<%= form_for @listing do |f| %>
  <h1>hello</h1>
  <%= f.label :title, :class => 'control-label' %>
  <%= f.text_field :title, :class => 'text_field' %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :pay_rate %>
  <%= f.text_field :pay_rate %>


  <%= f.label :part_time %>
  <%= f.radio_button(:job_type, "part-time", :id => 'part-time',
  :checked => (:pay_type == 'part-time')? true:false) %>
  <%= f.label :full_time %>
  <%= f.radio_button(:job_type, "full-time", :id => 'full-time',
  :checked => (:pay_type == 'full-time')? true:false) %>

  <%= f.submit %>

<% end %>
