<style>
  span {
    padding-left: 20px;
  }
</style>
<% if notice %>
  <%= notice %>
<% end %>

  <ul>
    <% @listings.each do |listing| %>
      <li>
        <span>Title : <%= listing.title %></span>
        <span>Description : <%= listing.description %></span>
        <span>Salary/Hourly : <%= listing.pay_rate %></span>
        <span>Full-time/Part-time : <%= listing.job_type %></span>
        <span>Job Closing Date : <%= listing.closing.strftime('%b %d, %Y, %I:%M') %></span>
      </li>
    <% end %>
  <ul>

<%= link_to "Back to your Dashboard", @user %>
