<% if notice %>
  <%= notice %>
<% end %>

  <ul>
    <% @listings.each do |listing| %>
      <li>
        <%= listing.title %>
        <%= listing.description %>
        <%= listing.pay_rate %>
        <%= listing.job_type %>
      </li>
    <% end %>
  <ul>

<%= link_to "Back to your Dashboard", @user %>
