<div>
  <% @listings.each do |listing| %>
    <%= listing.title %>
    <%= listing.description %>
    <%= listing.pay_rate %>
    <%= listing.job_type %>
  <% end %>
</div>

<%= link_to "Back to your Dashboard", @user %>
