<br>
<div class="back_color">

  <div class="container">

    <div class="col-md-3">
      <%= @listing.location_city %>,
      <%= @listing.location_state %>
      <br>
      <%= @listing.pay_rate %>
      <br>
      <%= @listing.employment_type %>
      <br>
      <%= @listing.number_of_positions %>
      <br>
      <%= @listing.closing_date.strftime('%b %d, %Y, %I:%M %p')  %>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <%= @listing.title %>
      <%= @listing.
    </div>

  </div>
</div>
