<% if notice %>
  <%= notice %>
<% end %>

<%= form_for @user do |f| %>
<div class="business_registration">
  <div class="full_width">
    <%= f.label :company_name, "Your Company name is:", :class => "lead form_label" %>
    <%= f.text_field :company_name, :class => "form-control rigth_input_company" %>
    <hr>
    <p class="lead form_label">Who is going to be the main contact for your company? </p>
  </div>
</div>
<div class="full_width">
  <div class="form-inline">
    <%= f.label :first_name, "First Name:", :class => "lead form_label_name" %>
    <%= f.text_field :first_name, :class => "form-control " %>
    <%= f.label :last_name, "Last Name:", :class => "lead form_label_last_name" %>
    <%= f.text_field :last_name, :class => "form-control " %>
<br>
    <%= f.label :email, "Your email:", :class => "lead form_label_name" %>
    <%= f.text_field :email, :class => "form-control  " %>
<br>
  <%= f.label :password, "Password:", :class => "lead form_label_name" %>
  <%= f.password_field :password, :class => "form-control  "  %>
<br>
  <%= f.label :password_confirmation, "Confirmation:", :class => "lead form_label_name" %>
  <%= f.password_field :password_confirmation, :class => 'password_field form-control ' %>
<br>
<div class="push_down">
  <%= f.submit "Register", :class => "btn btn-warning btn-block", :id => "register_now_btn" %>
  <!-- <%= link_to t('.cancel', :default => t("helpers.links.cancel")), home_path %> -->
</div>
  </div>
</div>
<br>

<% end %>
