
<div class="back_color">
	<div class="container">
		<h1 class="text-center">Grow Your Posibilities.</h1>
		<p  class=" lead text-center">Publish your Job Opportunities and Select the best people.</p>
		<div class="col-md-6 col-md-offset-3 text-center">
			<% if current_user.company_name == nil %>
				<%= link_to "View Current Job Listings", listings_path, :class => "btn btn-success" %>
				<%= link_to "View Your Cart", @cart, :class => "btn btn-success" %>
				<%= link_to "Previous Applications", orders_path, :class => "btn btn-success" %>
			<% else %>
				<%= link_to "Add a New Job Listing", new_listing_path, :class => "btn btn-success", :id => "add-job-listing" %>
				<%= link_to "View Current Job Listings", listings_path,  :class => "btn btn-success"  %>
				<%= link_to "View Current Applicants", resumes_path, :class => "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>
<div class="people_happy"></div>
