<% if notice %>
	<%= notice %>
<% end %>

<h1>Welcome to the Business User Dashboard</h1>

<p>From here you can add, edit, and update your job postings</p>
<p>You can also access current applicants and their information</p>

<%= link_to "Add a new Job Listing", new_listing_path %>
<%= link_to "View current Job Listings", listings_path %>
<%= link_to "View current Applicants" %>

<%= link_to "Home", home_path %>
