<h1>Administrator Menu View</h1>
<hr/>
<%= link_to 'Create New Item', new_administrator_item_path %>
<%= link_to 'Create New Category', new_administrator_category_path %>
<ul>
  <% @items.each do |item| %>
    <li><%= image_tag item.image.url(:thumb) %> </li>
    <li><%= item.title %></li>
    <li><%= item.description %></li>
    <li><%= item.price %></li>
    <li><strong>Current Status:</strong> <%= item.status %></li>
    <!-- <td><strong>Assigned Categories:</strong> <%= item.categories_list %> -->
    <li><%= link_to 'Edit', edit_administrator_item_path(item) %></li>
    <li><%= link_to 'Delete', administrator_item_path(item), method: :delete, data:{ confirm: "Are you sure you want to delete the item: '#{item.title}'" } %>
    </li>
</ul>
<br/>
</tr>
<% end %>