<h1>Administrator Menu View</h1>

<hr/>

<p style="float:left;width:33.33333333%">
  <%= link_to 'Create New Item', new_administrator_item_path %></p>
<p style="float:left;width:33.33333333%">
  <%= link_to 'Categories Dashboard', administrator_categories_path %></p>
<p style="float:left;width:33.33333333%">
  <%= link_to 'Orders Dashboard', administrator_orders_path %></p>

<hr/>
<table class='table'>
  <% @items.each do |item| %>
  <tr>
    <td><%= image_tag item.image.url(:admin_thumb) %> </td>
    <td><%= item.title %></td>
    <td><%= item.description %></td>
    <td><%= number_to_currency(item.price) %></td>
    <td><strong>Current Status:</strong> <%= item.status %></td>
    <td><strong>Assigned Categories:</strong> 
    	<% item.categories.each do |category| %>
    	<%= category.title %>
    	<% end %></td>

    <td><%= link_to 'Edit', edit_administrator_item_path(item) %></td>
    <td><%= link_to 'Delete', administrator_item_path(item), method: :delete, data:{ confirm: "Are you sure you want to delete the item: '#{item.title}'" } %></td>
  </tr>
<% end %>
</table>
