<h1>Manage Items</h1>

<p style="float:left;width:25%">
  <%= link_to 'Admin Home', administrator_admins_path, class: 'btn' %></p>
<p style="float:left;width:25%">
  <%= link_to 'Manage Categories', administrator_categories_path, class: 'btn' %></p>
<p style="float:left;width:25%">
  <%= link_to 'Manage Orders', administrator_orders_path, class: 'btn' %></p>
<p style="float:left;width:25%">
  <%= link_to 'Manage Users', administrator_users_path, class: 'btn' %></p>

<table class='table'>
  <% @items.each do |item| %>
    <tr>
      <td><%= image_tag item.image.url(:admin_thumb) %> </td>
      <td><%= item.title %></td>
      <td><%= item.description %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><strong>Current Status:</strong> <%= item.status %></td>
      <td><strong>Assigned Categories:</strong>
        <% item.categories.each do |category| %>
         <%= category.title %>
        <% end %>
      </td>
      <td><%= link_to 'Edit', edit_administrator_item_path(item), class: 'btn' %></td>
      <td id="delete"><%= link_to 'Delete', administrator_item_path(item), class: 'btn', method: :delete, data:{
        confirm: "Are you sure you want to delete the item: '#{item.title}'" } %></td>
    </tr>
  <% end %>

</table>

<p style="float:right">
  <%= link_to 'Create New Item', new_administrator_item_path, class: 'btn' %></p>
