<h1>Our menu</h1>
<hr/>
<table>
  <% @items.each do |item| %>
  <tr>
    <td><image src='<%= item.photo %>' alt='delicious iceSCREAM' height="50" width="50"></img></td>
    <td><%= item.title %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>    
    <td><%= select_tag(item[:status], options_for_select([['Active', 1],['Retired', 2]], 1))%></td>
    <td><%= select_tag item[:category],options_for_select(
      Category.all.collect {|c| [c.title] }),multiple: true %>
    </td>
    
    <td><%= link_to 'Edit', edit_administrator_item_path(item) %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Create New Item', new_administrator_item_path %>
<%= link_to 'Create New Category', new_administrator_category_path %>
