<h1>Add a new menu item</h1>

<%= form_for @item, html: {multipart: true} do |f| %>
  
  <div class='row'>
  <div style="float:left;width:33.33333333%">
    <div class='field' id='itemtitle'>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </div>
  </div>

  <div style='float:left;width:33.33333333%'>
    <div class='field' id='itemprice'>
      <%= f.label :price %><br/>
      <%= f.text_field :price %>
    </div>
  </div>

  <div style="float:left;width:33.33333333%">
    <p class='field' name='itemstatus'>
      <%= f.label :status %><br/>
      <%= f.select(:status, options_for_select([['Active', 1],['Retired', 2]], 1 ))%>
    </p>
  </div>
</div>

<div class='row'>
  <div style='float:left;width:33.33333333%'>
    <div class='field' id='itemdescription'>
      <%= f.label :description %><br/>
      <%= f.text_area :description, size: "30x12" %>
    </div>
  </div>
  
  <div style='float:left;width:33.33333333%'>
    <div class='field' id='itemcategories'>
      <%= f.label :categorizations %><br/>
      <%= f.select(:categorizations, Category.all.collect {|c| [c.title] }, {}, {multiple: true, size: Category.all.count}) %>
    </div>
  </div>

  <div style='float:left;width:33.33333333%'>
    <div class='field' id='itemphoto' %>
      <%= f.label :image %><br/>
      <%= f.file_field :image %>
    </div>
  </div>
</div>
<div style='float:right;width:33.33333333%'>
  <div class='actions'>
    <%= f.submit "Create this Item" %>
  </div>
</div>

<% end %>
