<!-- <p id="notice"><%= notice %></p> -->
<p>
  <strong>Item name:</strong>
  <%= @item.title %>
</p>
<p>
  <%= image_tag @item.image.url %>
</p>
<p>
  <strong>Descprition:</strong>
  <%= @item.description %>
</p>
<p>
  <ul>
    <strong>Price:</strong>
    <%= @item.price %>
  </ul>
</p>
<p>
  <strong>Categories:</strong>
  <ul>
    <% @item.categories.each do |category| %>
      <li><%= category.title %></li>
    <% end %>
  </ul>
</p>
<p>
  <strong>Current Status:</strong>
  <%= @item.status %>
</p>
<%= link_to 'Delete this item', administrator_item_path(@item), :method => :DELETE, data: {confirm:  "Do you really want to delete this item?!"} %>