<div class="container">
  <h1>Confirm your applications</h1>
  <td><%= link_to "Back to Jobs", cart_path(@cart) %></td>
  <div id= 'order_new_padding'>
    <% @cart.listings.each do |listing| %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Closing Date</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= listing.title %></td>
            <td><%= truncate(listing.description, :length => 100) %></td>
            <td><%= listing.closing_date.strftime('%b %d, %Y, %I:%M %p') %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>


<%= form_for(@order) do |f| %>


  <%= f.submit 'Apply', class: "btn btn-success"%>


<% end %>
</div>
