<h1>Manage Orders</h1>

<hr/>

<p style="float:left;width:25%">
  <%= link_to 'Paid Orders', administrator_paid_path, class: 'btn' %></p>
<p style="float:left;width:25%">
  <%= link_to 'Ordered Orders', administrator_ordered_path, class: 'btn' %></p>
<p style="float:left;width:25%">
  <%= link_to 'Cancelled Orders', administrator_cancelled_path, class: 'btn' %></p>
<p style="float:left;width:25%">
  <%= link_to 'Completed Orders', administrator_completed_path, class: 'btn' %></p>


<table>
  <tr>
    <th>Order Number</th>
    <th>Customer</th>
    <th>Receiving Method</th>
    <th>Status</th>
  </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %> </td>
      <td><%= order.user.first_name %> <%= order.user.last_name %> </td>
      <td><%= order.receiving %></td>
      <td><%= order.status %></td>
      <td><%= link_to "Order Details", administrator_order_path(order), class: 'btn' %></td>
    </tr>
    <% end %>
</table>

<p style="float:left;width:25%">
  <%= link_to 'Admin Home', administrator_admins_path, class: 'btn' %></p>
