<%- model_class = Item -%>
<div class="page-header">
  <h1> Order Number <%= @order.id %></h1>
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>
</div>
<p>Customer: <%= @order.user.first_name %>, <%= @order.user.email %>
<table class="table table-striped order-items ">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  <% @order.cart_items.each do |cart_item| %>
    <tr>
      <td><%= image_tag cart_item.item.image.url(:user_thumb) %></td>
      <td><%= link_to cart_item.item.title, item_path(cart_item.item) %></td>
      <td><%= number_to_currency(cart_item.item.price) %></td>
      <td><%= button_to "-", "# " %><%= cart_item.quantity %><%= button_to "+", "#" %></td>
      <td><%= button_to 'Delete', administrator_cart_item_path(cart_item), method: :delete %></td>
    <% end %>

    <tr class="total_line">
      <td> Total </td>
      <td><%= number_to_currency(@order.total_price) %></td>
    </tr>
  </tbody>
