<div class="container">
  <h1>Your Job Listings</h1>
  <% if notice %>
    <%= notice %>
  <% end %>

  <% if @cart.cart_listings.empty? %>
    <h3>There are currently no jobs in your cart!</h3>
  <% else %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Closing Date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cart.cart_listings.each do |cart_listing| %>
        <tr>
          <td><%= link_to cart_listing.listing.title, listing_path(cart_listing.listing) %></td>
          <td><%= truncate(cart_listing.listing.description, :length => 100) %></td>
          <tb><%= cart_listing.listing.closing_date %></td>
          <td><%= link_to 'Remove From Cart', cart_listing ,method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="row">
    <%= link_to 'Empty Cart', cart_path, method: :delete, class: "btn btn-danger" %>
  </div>

  <% if signed_in? %>
    <div class="row">
      <%= form_for( @resume, html: { multipart: true } ) do |f| %>
        <%= f.label :attachment %>
        <%= f.file_field :attachment %>
        <%= f.submit "Upload Resume", :class => "btn btn-warning" %>
      <% end %>
    </div>
  <% end %>


  <div class="row-fluid push_buttons_down">
    <% if signed_in? %>
        <% if @cart.cart_listings.count > 0 %>
          <%= link_to 'Apply', new_order_path, class: "btn btn-warning" %>
        <% end %>
  </div>
  <% else %>
    <div class="row">
      <h4>Feel free to keep saving jobs to your cart.</h4>
      <h4> But you'll need to sign in or create an account to finish your application.</h4>
      <%= link_to 'Sign In', signin_path %> or
      <%= link_to 'Join Today!', register_path %>
    </div>
  <% end %>
</div>
