<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= link_to 'Manage Categories', administrator_categories_path %>
<%= link_to 'Manage Orders', administrator_orders_path %>
<%= link_to 'Manage Items', administrator_items_path %>
<%= link_to 'Manage Users', administrator_users_path %>
