<% if notice %>
  <%= notice %>
<% end %>
<div class="back_color" style="height:1000px; padding-top:100px">
<div class="container">
  <h1 class=" text-center" style="margin-top:-50px"> These are your Job Postings </h1>
  <h3 class="text-center"><%= "for #{current_user.company_name}" %></h3>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Closing Date</th>
        <th>Applicants</th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
      <div style="font-weight:400">
        <tr>
          <td><%= link_to listing.title, listing_path(listing) %></td>
          <td><%= listing.closing.strftime('%b %d, %Y, %I:%M') %></td>
          <!-- links to the applicant index page -->
          <td><%= link_to "Current Applicants (5)", "#"%></td>
        </tr>
      </div>
      <% end %>
    </tbody>
  </table>

<%= link_to "Back to your Dashboard", @user, :class => "btn btn-warning"%>
</div>
</div>
