<%- model_class = Item -%>
<div class="page-header">
  <h1>Our Menu</h1>
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>
</div>
<table class="table table-striped">
    <% @categories.each do |category| %>
      <tr>
        <td colspan="5"><h5><%= category.title %></h5><i><%= category.description %></i></td>
      </tr>
      <% category.items.active.each do |item| %>
      <tr>
        <td><%= image_tag item.image.url(:user_thumb) %></td>
        <td><%= link_to item.title, item_path(item) %></td>
        <td><%= item.description %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td>
          <%= button_to "Add To Cart", cart_items_path(item_id: item) %>
        </td>
      </tr>
      <% end %>
    <% end %>
</table>
