<%- model_class = Item -%>
<div class="page-header">
  <h1><%= @item.title %></h1>
</div>

<dl class="dl-horizontal">
  <dd><%= image_tag image_or_fallback_show(item) %></dd>
  <br/>
  <dd><strong><%= @item.title %></strong></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @item.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @item.price %></dd>
</dl>

<div class="form-actions">
  <% if @item.status == 1 %>
    <%= button_to "Add To Cart", cart_items_path(item_id: @item) %>
  <% end %>
</div>
