<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Items', items_path %></li>
  <li><%= link_to 'About Us', "/about" %></li>
  <li><%= link_to 'Contact Us', "/contact" %></li>
  <li><%= link_to 'Members', "/home" %></li>
  <%= render 'layouts/navigation_links' %>
</ul>
