<div class="em-top-navbar">
  <% if signed_in? %>
    <div class="container em-element">
      <%= link_to "EmployMe!",
          root_path,
          {class:"em-top-brand em-f",
           style:"color:orange"}
      %>

      <div class="col-md-8" style="float:right; margin-top:5px">
        <%= link_to "Jobs",
          listings_path,
          {class: "em-top-links em-f ",
           style: "color:white"
          }
        %>

        <% if @cart.listings.count > 0 %>
          <%= link_to "Folder (#{@cart.listings.count})",
              cart_path,
              {class: "em-top-links em-f col-md-offset-2",
               style: "color:white",
               id: "your_jobs_link"}
          %>
        <% end %>


        <%= link_to "Hello #{current_user.first_name.capitalize}",
            current_user,
            {class: "em-top-links em-f col-md-offset-2",
             style: "color:white",
             id: "dashboard"}
        %>
        <%= link_to "Sign Out",
            signout_path,
            {class:"em-top-links em-f col-md-offset-2",
             style:"color:white"}
        %>

      </div>
    </div>

  <% else %>
    <div class="container em-element">
      <%= link_to "EmployMe!",
          root_path,
          {class:"em-top-brand em-f",
           style:"color:orange"}
      %>
      <div class="em-right col-md-10">

        <% if @cart.listings.count == 0 %>
          <%= link_to "Jobs",
            listings_path,
            {class: "em-top-links em-f col-md-offset-4",
             style: "color:white"
             }
          %>
        <% else %>
          <%= link_to "Jobs",
            listings_path,
            {class: "em-top-links em-f col-md-offset-1",
             style: "color:white"}
          %>
        <% end %>
        <% if @cart.listings.count > 0 %>
          <%= link_to "Folder (#{@cart.listings.count})",
              cart_path,
              {class: "em-top-links em-f col-md-offset-2",
               style: "color:white",
               id: "your_jobs_link"}
          %>
        <% end %>


        <%= link_to "Register Now",
            new_user_path,
            {class: "em-top-links em-f col-md-offset-2",
             style: "color:white"}
        %>
        <%= link_to "Sign In",
            signin_path,
            {class:"em-top-links em-f col-md-offset-2 ",
             style:"color:white"}
        %>
      </div>
    </div>

  <% end %>

</div>
