<div class="em-top-navbar">


  <% if !current_user %>
                <li><%= link_to "Your Jobs(#{@cart.listings.count})", cart_path %></li>
              <% elsif !current_user.company_name %>
                <li><%= link_to "Your Jobs(#{@cart.listings.count})", cart_path %></li>
              <% end %>
              <li><%= link_to "Job Listings", listings_path %></li>
              <% if signed_in? %>
                <li><a href="/" >
                  <% if current_user %>
                    <%= " Welcome, #{current_user.first_name.capitalize}!" %>
                  <% end %>
                </a></li>
                <li><%= link_to "Dashboard", current_user %></li>
                <li><%= link_to "Sign Out", signout_path %></li>
                  <% else %>
                    <li><%= link_to "Sign In", signin_path %></li>
                    <!-- <li><%= link_to "Register", register_path  %></li> -->
                  <% end %>







  <% if signed_in? %>
    <p>You are logged in</p>
  <% else %>
    <div class="col-md-4 col-md-offset-4 em-element">
      <%= link_to "Log In",
          signin_path,
          {class:"em-top-links em-f col-md-4 text-left",
           style:"color:white"}
      %>

      <%= link_to "EmployMe!",
          root_path,
          {class:"em-top-brand em-f col-md-4 text-center",
           style:"color:orange"}
      %>

      <%= link_to "Register",
          new_user_path,
          {class: "em-top-links em-f col-md-4 text-right",
           style: "color:white"}
      %>
    </div>
  <% end %>
</div>
