<!DOCTYPE html>
<html lang="en">
  <% if signed_in? %>
      <%= link_to "Signout", signout_path %>

        <a href="#" >
          <% if current_user %>
            <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %>
          <% end %>
        </a>

        <% if current_user.role == "admin" %>
          <%= link_to "Dashboard", administrator_admins_path %>
        <% end %>

        <% if current_user && current_user.role == "default" %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <% end %>
    <% else %>
      <li><%= link_to "Sign In", signin_path  %></li>
      <!-- <li><%= link_to "Register", register_path  %></li> -->
    <% end %>
  <%= yield %>
</body>
