<h1>Our menu</h1>
<hr/>
<table>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= category.description %></td>
    <td>
      <%= link_to 'Edit', edit_administrator_category_path(category) %>
      <%= link_to 'Delete', administrator_category_path(category), confirm: 'Are you sure?', :method => :DELETE %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to 'Create New Category', new_administrator_category_path %>
