<% if notice %>
  <%= notice %>
<% end %>

<%= link_to 'Admin Home', administrator_admins_path, class: 'btn' %></p>
<%= link_to 'Manage Orders', administrator_orders_path, class: 'btn' %></p>

<%= link_to 'Manage Items', administrator_items_path, class: 'btn' %></p>
<%= link_to 'Manage Users', administrator_users_path, class: 'btn' %></p>

Title
Description
Actions

<% @categories.each do |category| %>
  <%= category.title %>
  <%= category.description %>
  <%= link_to 'Edit', edit_administrator_category_path(category), class: 'btn' %></td>
  <%= link_to 'Delete', administrator_category_path(category), class: 'btn', confirm: 'Are you sure?', :method => :DELETE %></td>
<% end %>

<%= link_to 'Create New Category', new_administrator_category_path, class: 'btn' %>
