<h1>Administrator Categories Dashboard</h1>
<hr/>

<p style="float:left;width:33.33333333%">
  <%= link_to 'Create New Category', new_administrator_category_path %>
<p style="float:left;width:33.33333333%">
  <%= link_to 'Menu Items Dashboard', administrator_items_path %></p>
<p style="float:left;width:33.33333333%">
  <%= link_to 'Categories Dashboard', administrator_categories_path %></p>

<hr/>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td align="left"><%= category.title %></td>
    <td align="left"><%= category.description %></td>
    <td><%= link_to 'Edit', edit_administrator_category_path(category) %></td>
    <td><%= link_to 'Delete', administrator_category_path(category), confirm: 'Are you sure?', :method => :DELETE %></td>
  </tr>
<% end %>
</table>
