<h1>Categories</h1>
<hr/>
<%= link_to 'Create New Category', new_administrator_category_path %>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.title %></li>
    <li><%= category.description %></li>
    <li><%= link_to 'Edit', edit_administrator_category_path(category) %></li>
    <li><%= link_to 'Delete', administrator_category_path(category), confirm: 'Are you sure?', :method => :DELETE %></li>
<br/>
  <% end %>
</ul>
